*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f1f1;
  overflow-x: hidden;
}
button,input {
  outline: none;
}
.menuList {
  position: fixed;
  top:0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #f5f5f5;
  transition: 0.5s;
}

.menuList li {
  list-style-type: none;
  margin-left: 15px;
  margin-top: 15px;
}

.menuList button {
 
  margin-top: 15px;
  border: none;
  background-color: #f5f5f5;
  color: #131313;
 
}

.Close {
  float: right;
  margin-right: 15px;
  margin-top:15px;
}
.menuListButton span {
  float: right;
    margin-left: 5px;
    font-size: 20px;
    color: #bcbaba;
}
.menuListButton h1 {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 20px;
}



.phoneBrands {
  width: 135px;
}
.phoneBrandsTitle,.phoneParameterTitle {
  margin-left: 15px;
}
.phoneBrands ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.phoneBrands li {
  border: 2px solid #e2e1e1;
  border-radius: 5px;
}

.phoneBrands li.active {
  border: 2px solid black;
}

.phoneBrands li:hover {
  border: 2px solid black;
  border-radius: 5px;
}
 .phoneBrandsTitle button {
  margin-top: 15px;
  border: none;
  background-color: #f5f5f5;
  color: #131313;
  font-size: 25px;
  margin-left: 5px;
} 
.phoneParameter {
  width: 150px;
}
.phoneParameter ul {
  display: flex;
  flex-wrap: wrap;
}
.phoneParameter li {
   color: white;
    background-color: #FF9900;
    padding: 5px;
    border-radius: 5px;
}
.phoneParameter li:hover {
  border: 2px solid black;
}
.phoneParameter li.active {
  border: 2px solid black;
}
.phoneParameter h4 {
  margin: 10px 0px 0px 10px;
}
.phoneParameterTitle button {
  margin-top: 15px;
  border: none;
  background-color: #f5f5f5;
  color: #131313;
  font-size: 25px;
  margin-left: 5px;
}
.Header {
  background-color: #131921;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131921;
}
.menu h1 {
  font-size: 25px;
  color: #fff;
  margin: 25px;
  font-family: emoji;
  background-color: #131921;
}
.menu img {
  background-color: #131921;
}
@media only screen and (max-width: 600px) {
  .search input {
    display: none!important;
  }
}

@media only screen and (max-width: 1870px) and (min-width: 1000px) {
  .PhoneCentre {
   justify-content: center!important;
    
  }
}

@media only screen and (max-width: 937px)  {
  .PhoneCentre {
    margin-left: 30%!important;
  }
  .orderList button {
   width: 45px!important;
   height: 45px!important;
  }
}

@media only screen and (max-width: 823px)  {
  .search input:first-child {
    display: none;
  }
}



.search {
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131921;
}
.search input{
  display: block;
  padding: 10px;
  width: 35vmax;
  background-color: white;
  border: none;
 }

.search input:last-child {
  border: none;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png);
  width: 39px;
  height: 39px;
  background-size: cover;
  background-color: #FF9900;
  border-radius: 0px 5px 5px 0px;
}

.orderList {
 display: flex;
 justify-content: end;
 align-items: center;
 margin-right: 60px;
}
.orderList button {
 width: 65px;
 height: 65px;
 background-image: url("https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/shopping-circle-blue-512.png");
 background-size: cover;
 background-color: #131921;
 border:none;
}

.orderList span {
  font-size: 15px;
  float: left;
  margin-top: 35px;
  color: white;
  background: #FF9900;
  border-radius: 100%;
  padding: 6px;
  width: 15px;
  height: 15px;
}

.OrderItem {
  display: flex;
    justify-content: center;
    margin: 15px;
    background-color: #E0E0E0;
    padding: 15px;
}
.OrderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.OrderCenterContainer {
  display: flex;
  flex-direction: column;
 background-color: #fff;
 padding: 25px;
}

.OrderParameter {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.Phone{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}
.PhoneCentre {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-right: 15%;
}
.PhoneItem {
  width: 260px;
  height: 340px;
  padding: 18px;
  background-color: #fff;
  border: 1px solid #888888;
  display: flex;
  margin: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.PhoneItem:hover {
  box-shadow: 0 0 15px #131921
}

.PhoneAvailableColors li{
 list-style-type: none;
 width: 15px;
 height: 15px;
 margin: 5px 0px 0px 5px;
 border-radius: 2px;
 border: 1px solid lightgrey;
 float: left;
}

.PhoneAvailableColors li.active {
  width: 20px;
  height: 20px;
  box-shadow: 4px 4px 6px 0px grey;
}

.PhoneAvailableColors span{
  float: left;
}

.PhoneFilter {
    width: 100%;
    text-align: right;
    margin-right: 30px;
}

.Laptop {
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.LaptopItem {
  width: 260px;
  padding: 18px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LaptopItem h1,img {
  margin: 10px;
}

.Items {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.ItemPhone,.ItemLaptop {
 margin: 15px;
}


.goBack button{
  background-image: url('https://www.iconfinder.com/data/icons/2px-stroke-simple-line/24/af-undo-512.png');
  border: none;
  background-color: #f5f5f5;
  background-size: cover;
  width: 30px;
  height: 30px; 
  margin: 10px; 
}
.PhoneConatiner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.PhoneConatinerCenter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
  padding: 15px;
  background-color: #fff;
  
}
.PhonePageItem {
  width: 400px;
  height: 450px;
  margin: 15px;
}
.PhoneMemory li{
  cursor: pointer;
  list-style-type: none;
  float: left;
  margin-left: 10px;
  padding: 5px;
  color:white;
  background-color: #FF8800;
  border-radius: 5px;
}

.PhoneMemory li.active {
  background-color: #175ab3;
}

.PhoneMemory span {
 float: left;
font-size: 17px;
}

.PhoneRam li{
  cursor: pointer;
  list-style-type: none;
  float: left;
  margin-left: 10px;
  padding: 5px;
  color:white;
  background-color: #FF8800;
  border-radius: 5px;
}
 
.PhoneRam li.active {
  background-color: #175ab3;
} 

.PhoneRam span {
 float: left;
font-size: 17px;
}

.PhoneImageNav {
  margin: 20px;
}
.PhoneImageNav img{
  margin-right: 75px;
}

.PhoneImageNav li {
  list-style-type: none;
  float: left;
  margin-top: 30px;
  margin-left:30px
}


.PhoneConatinerParameter {
  margin: 10px;
}
.Buy_Delete {
  display: flex;
}
.Remove {
 margin-left: 15px;
}
.PhoneBuy {
  border:none;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  background-color: #FF8800;
  margin-top: 10px;
  
}
.PhoneDelete {
  border:none;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  background-color: #b8b9bc;
  margin-top: 10px;
  
}
.ico {
 background-image: url('https://image.flaticon.com/icons/png/512/126/126083.png');
 background-size: cover;
 width: 25px;
 height: 25px;
 float: left;
}

.icoDelete {
  background-image: url('https://www.pngrepo.com/png/158960/180/delete-of-shopping-basket-e-commerce-sign.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  float: left;
 }

.icoText {
  color: white;
  font-size: 1.25em;
  float: right;
  margin: 3px 0px 0px 8px;
}
.icoDeleteText {
  color: white;
  font-size: 1.25em;
  float: right;
  margin: 3px 0px 0px 8px;
}
.PhoneParameter {
  margin-top: 20px;
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.PhoneParameter h4 {
 font-size: 17px;
 margin: 10px;
}

.PhonePrice h1:nth-child(3) {
  margin-top:15px
}

.PhonePrice button{
 border-radius: 18px;
 width: 36px;
 height: 36px;
 border: 1px solid gray;
 background-color: #fff;
 margin: 10px;
 outline: none;
}



.LaptopConatiner {
  display: flex;
  justify-content: center;
  align-items: center;
 }
.LaptopConatinerCenter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 25px
  
}
.LaptopPageItem {
  width: 400px;
  height: 450px;
  margin: 15px;
}
.LaptopImageNav {
  margin-top: 20px;
}
.LaptopImageNav img{
  margin-right: 75px;
  margin-bottom: 25px;
}

.LaptopConatinerParameter {
  margin-top: 20px;
}
.LaptopParameter {
  margin: 10px;
}
.LaptopParameter h4 {
  font-size: 16px;
}

.LaptopPrice h1:nth-child(3) {
  margin-top:15px
}

.LaptopPrice button{
 border-radius: 18px;
 width: 36px;
 height: 36px;
 border: 1px solid gray;
 background-color: #fff;
 margin: 10px;
}

.SearchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.SearchItem {
  width: 260px;
  height: 335px;
  padding: 18px;
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  margin: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.SearchError {
  text-align: center;
}